.headerbtn {
    height: 50px;
    width: 50px;
    border-radius: 20%;
}
.formdiv {
    background-color: bisque;
    box-shadow: 0 8px 8px rgb(0, 0, 0);
    height: 80%;
    width: 80%;
    margin: 5% 10%;
    border-radius: 10px;
    display: flex;
}
.videodiv{
    width: 30%;
    height: 80%;
    padding: 5% 5%;
}
.row{
    width: 80%;
    height: 10%;
    display: flex;
    
}
.row .col1 {
    width: 40%;
    height: 40%;
}
.row .col2 {
    width: 500px;
    height: 80%;
    border-radius: 10px;
}