body,.container{
    width: 100%;
    height: 100%;
    background-image:url("color.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.items{
 width:15%;
  
  height: 20%;
background-color:brown;
}
.content{
    font-size: 5em;
    text-align: center;
}